.container{
    /*margin-bottom: 64px;*/
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
}

/* 배너 ------------------------------------*/
.banner{
    margin-top: 84px;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: #ffc933;
    margin-bottom: 40px;
}

.banner>.bannerlogo{
    margin-top: 52px;
    margin-bottom: 8px;
    width: 350px;
    height: 80px;
    background: url(../../images/main/GoalKeeperLogo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.banner>.bannerelplain>p{
    font-family: "Nanum Gothic";
    font-size: 16px;
    font-weight: 500;
    color: #444444;
    font-style: normal;
    text-align: center;
    line-height: 26px;
    background-color: #ffc933;
    padding-bottom: 56px;
}

/* Top3미션카드 ------------------------------------*/
.hotgoal{
    width: 85%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.hotgoal>p{
    font-size: 12px;
    color: #B0B0B0;
    margin-bottom: 80px;
}

/* Top3미션카드-로고 ------------------------------------*/
.hotgoal>.hotgoal_top{
    margin: 36px 0px 4px 0px;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.hotgoal>.hotgoal_top>.hotgoallogo{
    background: url(../../images/main/hotgoal.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height:60px;
    /* border: 1px solid blue; */
}

/* Top3미션카드-카드들 ------------------------------------*/
.hotgoal_bottom{
    margin-bottom: 44px;
    width: 85%;
    /*overflow: scroll;*/
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid red; */
}

/* Top3미션카드-카드들-카드영역 ------------------------------------*/
.hotgoal_bottom>.goalcard{
    position: relative;
    margin: 16px;
    margin-bottom: 32px;
    padding: 0px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid violet; */
    border-radius: 30px;
    background-color: #FFFFFF;
    background-color: inherit;
    box-shadow: 4px 4px 8px 4px  #AAAAAA;
    flex-shrink: 0;
}


/* 좋아요부분
<div class="likeArea">
<div class="like"></div>
<div class="likeCount" th:text="${goal.likeCount}"></div>
</div>
*/

.likeArea{
    position: absolute;
    top: -54px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;

    animation: motion 0.8s /* 속도 */
    linear 0s   /* 처음부터 끝까지 일정 속도로 진행 */
    infinite alternate; /* 무한 반복 */
}

@keyframes motion {
    0% {margin-top: -4px;} /* 처음 위치 */
    100% {margin-top: 4px;} /* 마지막 위치 */
}

.likeArea>.like{
    background: url(../../images/main/redHeart.png) no-repeat center / contain;
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.likeArea>.likeCount{
    font-size: 20px;
}


/* Top3미션카드-카드들-카드영역-상단------------------------------------*/
.hotgoal_bottom>.goalcard>.cardtop{
    margin: 20px 12px 4px 12px;
    width: 269px;
    height: 108px;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-between;
}


.hotgoal_bottom>.goalcard>.cardtop>.cardtopL{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
    /* border: 1px solid blue; */
}

.cardtopL>.cardex{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    /* border: 1px solid blue; */
}

.cardtopL>.cardex>.authcount{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff5065;
    border-radius: 44px;
    padding: 5px 0px;
    margin: 4px;
    width: 76px;
}

.cardtopL>.cardex>.authcount>p,
.cardtopL>.cardex>.status>p{
    font-size: 10px;
    background-color:transparent;
    color: #FFFFFF;
}

/* 완료, 모집, 진행*/
.complete{
    background-color: #3ADC67;
}
.proceeding{
    background-color: #506CFF;
}
.recruiting{
    background-color: #000000;
}

.cardtopL>.cardex>.status{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 44px;
    padding: 5px 0px;
    margin: 4px;
    width: 76px;
}

.cardtopL>.goaltitle{
    padding: 4px;
}
.cardtopL>.goaltitle:hover{
    cursor: pointer;
}

.cardtopL>.goaltitle>p{
    padding: 8px 2px;
    font-size: 20px;
}

.cardtopL>.hashtags{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
}

.cardtopL>.hashtags>.hashtag{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 12px;
    margin: 4px;
    border-radius: 44px;
    border: 1px solid black;
}

.cardtopL>.hashtags>.hashtag>p{
    font-size: 10px;
}

.cardtopR{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 12px;
}
/*
.cardtopR>.like{
    background: url(../../images/main/Heart.png) no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    margin: 4px;
}

.cardtopR>.like_T{
    background: url(../../images/main/redHeart.png) no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    margin: 4px;
}

.cardtopR>.like_T:hover{
    cursor: pointer;
}
.cardtopR>.like:hover{
    cursor: pointer;
}



.cardtopR>.likecount{
    margin: 2px;
    font-size: 12px;
}
*/
/* Top3미션카드-카드들-카드영역-이미지------------------------------------*/
.hotgoal_bottom>.goalcard>.goalimg{
    /*background: url(../../images/main/goalimg.png) no-repeat;*/
    /*background-size: contain;*/
    height: 194px;
    width: 294px;
}

/* Top3미션카드-카드들-카드영역-프로그래스------------------------------------*/
.hotgoal_bottom>.goalcard>.progress{
    margin: 12px 0px;
    background: url(../../images/main/progress.png) no-repeat;
    background-size: contain;
    height: 22px;
    width: 95%;
}

/* Top3미션카드-카드들-카드영역-bottom(미션정보들)------------------------------------*/
.hotgoal_bottom>.goalcard>.cardbottom{
    box-sizing: border-box;
    width: 294px;
    padding: 0px 12px;
    margin-bottom: 16px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

.hotgoal_bottom>.goalcard>.cardbottom>*{
    font-size: 10px;
    color: #444444;
}

.cardbottomL{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.cardbottomL>.king,
.cardbottomL>.pnum,
.cardbottomR>.point,
.cardbottomR>.term{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 6px;
}

.king>.cardicon{
    background: url(../../images/main/Crown.png) no-repeat center / contain;
    width: 16px;
    height: 16px;
}
.pnum>.cardicon{
    background: url(../../images/main/Group-person.png) no-repeat center / contain;
    width: 14px;
    height: 15px;
    margin-left: 1px;
}
.point>.cardicon{
    background: url(../../images/main/point.png) no-repeat center / contain;
    width: 14px;
    height: 14px;
    margin-left: 0.7px;
    margin-right: 8.5px;
}
.term>.cardicon{
    background: url(../../images/main/Alarm.png) no-repeat center / contain;
    width: 16px;
    height: 16px;
}

.cardicon{
    margin-right: 8px;
}
.term>.term_t{
    padding-top: 2px;
}

.hotgoal>.goalmission{
    margin: 8px;
    border: 1px solid #b0b0b0;
    border-radius: 44px;
    margin-bottom: 180px;
}

.hotgoal>.goalmission:hover{
    cursor: pointer;
    border: 1px solid #ff5065;
}

.hotgoal>.goalmission:hover>p{
    color: #ff5065;
}

.hotgoal>.goalmission>p{
    font-size: 24px;
    font-weight: 100;
    margin: 20px 50px;
    color: #b0b0b0;
}

.rankscroll{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
}

.rankscroll>.ranklogo{
    background: url(../../images/main/ranklogo.png) no-repeat;
    background-size: contain;

    width: 555px;
    height: 75px;
}

.rankscroll>.rankarrow{
    width: 190px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rankscroll>.rankarrow>.arrow{
    width: 150px;
    height: 150px;
    background: url(../../images/main/arrow.png) no-repeat;
    background-size: contain;

    animation: arrowmotion 0.25s /* 속도 */
    linear 0s   /* 처음부터 끝까지 일정 속도로 진행 */
    infinite alternate; /* 무한 반복 */

}
@keyframes arrowmotion {
    0% {margin-top: -40px;} /* 처음 위치 */
    100% {margin-top: 40px;} /* 마지막 위치 */
}

/*순위페이지*/
.rankpage{
    width: 100%;
    height: 100vh;
    background-color: #ffc933;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
}

.rankpage>.rank_t{
    background: url(../../images/main/ranklogo_gray.png) no-repeat;
    background-size: cover;
    margin: 60px;
    margin-bottom: 4px;
    width: 800px;
    height: 150px;
}
.explain{
    position: relative;
    top:-15px;
    font-size: 12px;
    color: #464646;
    background-color: transparent;
    margin-bottom: 18px;
}

.rankpage>.dansang_group{
    background-color: transparent;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
}

.rankpage>.dansang_group>.rankpeopleprofile{
    position: relative;
    top: 108px;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    justify-content: space-between;
    background-color: transparent;
    overflow: visible;
}

.rankpage>.dansang_group>.rankpeopleprofile>.peopleprofile{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    overflow: visible;
}

.rankpage>.dansang_group>.rankpeopleprofile>.peopleprofile>._1st{
    position: relative;
    top: -80px;
    margin: 0px 60px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
.rankpage>.dansang_group>.rankpeopleprofile>.peopleprofile>._2nd{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.rankpage>.dansang_group>.rankpeopleprofile>.peopleprofile>._3rd{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.rankpage>.dansang_group>.dansang{
    background: url(../../images/main/dansang.png) no-repeat;
    background-size: contain;
    width: 700px;
    height: 320px;
}

.rankpage>.dansang_group>.rankpeoples{
    position: relative;
    top: -20px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;

}

.rankpage>.dansang_group>.rankpeoples>.rankpeople{
    margin: 0px 14px;
    width: 220px;
    background-color:inherit;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.rankpage>.dansang_group>.rankpeoples>.rankpeople>.nicname{
    margin-bottom: 12px;
    background-color:inherit;
    text-align: center;
}

.rankpeople>.nicname{
    font-size: 28px;
    color: #444444;
    width: 100%;
}
.rankpeople>.point{
    padding: 10px 18px;
    border-radius: 44px;
    background-color: #ffffff;

    font-size: 16px;
    color: #ff5065;
    /* width: 100%; */
}