<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>main</title>
	<link rel="stylesheet" th:href="@{/css/goalmain/goalmain.css}">
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/default.css}">
</head>
<body>
<!--<div class="header" id="header">-->
	<th:block th:replace="~{layout/bodyheader :: bodyheader}"></th:block>
<!--</div>-->
<div class="container">
	<!-- banner -->
	<div class="banner">
		<div class="bannerlogo"></div>
		<div class="bannerelplain">
			<p>목표를 지키는 최고의 수비수,<br>
				GoalKeeper와 함께라면 넘지 못할 골대는 없습니다.
			</p>
		</div>
	</div>
	<!-- 핫한 미션 -->
	<div class="hotgoal" id="hotgoal">
		<div class="hotgoal_top">
			<div class="hotgoallogo">
			</div>
		</div>
		<div class="hotgoal_bottom">
			<div class="goalcard_1">
				<!-- cardTop -->
				<div class="cardtop">
					<!-- cardTop_Left -->
					<div class="cardtopL">
						<div class="cardex">
							<div class="authcount">
								<p>1회 인증</p>
							</div>
							<div class="status">
								<p>진행중</p>
							</div>
						</div>
						<div class="goaltitle"><p>매일 모각코</p></div>
						<div class="hashtags">
							<div class="hashtag"><p># JAVA</p></div>
							<div class="hashtag"><p># 취준생</p></div>
							<div class="hashtag"><p># 개발자</p></div>
						</div>
					</div>
					<!-- cardTop_Right -->
					<div class="cardtopR">
						<div class="likeicon"></div>
						<div class="likecount"><p>999+</p></div>
					</div>
				</div>
				<div class="goalimg"></div>
				<div class="progress"></div>
				<div class="cardbottom">
					<div class="cardbottomL">
						<div class="king">
							<div class="cardicon" style="background: url(./image/main/Crown.png) no-repeat; background-size: contain; width: 16px; height: 16px;"></div>
							<div class="king_t"><p>디자인천재혤</p></div>
						</div>
						<div class="pnum">
							<div class="cardicon" style="background: url(./image/main/Group-person.png) no-repeat; background-size: contain; width: 16px; height: 16px;"></div>
							<div class="pnum_t"><p><span>9</span>/<span>20</span></p></div>
						</div>
					</div>
					<div class="cardbottomR">
						<div class="point">
							<div class="cardicon" style="background: url(./image/main/point.png) no-repeat; background-size: contain; width: 14px; height: 15px; margin-left: 1px;"></div>
							<div class="point_t"><p>참여 -300 / 달성 +500</p></div>
						</div>
						<div class="term">
							<div class="cardicon" style="background: url(./image/main/Alarm.png) no-repeat; background-size: contain; width: 16px; height: 16px;"></div>
							<div class="term_t"><p><span>2024.04.24</span>-<span>2024.04.28</span></p></div>
						</div>
					</div>
				</div>
			</div>

			<div class="goalcard_1">
				<!-- cardTop -->
				<div class="cardtop">
					<!-- cardTop_Left -->
					<div class="cardtopL">
						<div class="cardex">
							<div class="authcount">
								<p>1회 인증</p>
							</div>
							<div class="status">
								<p>진행중</p>
							</div>
						</div>
						<div class="goaltitle"><p>매일모각코매일모각코</p></div>
						<div class="hashtags">
							<div class="hashtag"><p># JAVA</p></div>
							<div class="hashtag"><p># 취준생</p></div>
							<div class="hashtag"><p># 개발자</p></div>
						</div>
					</div>
					<!-- cardTop_Right -->
					<div class="cardtopR">
						<div class="likeicon"></div>
						<div class="likecount"><p>999+</p></div>
					</div>
				</div>
				<div class="goalimg"></div>
				<div class="progress"></div>
				<div class="cardbottom">
					<div class="cardbottomL">
						<div class="king">
							<div class="cardicon" style="background: url(./image/main/Crown.png) no-repeat; background-size: contain; width: 16px; height: 16px;"></div>
							<div class="king_t"><p>디자인천재혤</p></div>
						</div>
						<div class="pnum">
							<div class="cardicon" style="background: url(./image/main/Group-person.png) no-repeat; background-size: contain; width: 16px; height: 16px;"></div>
							<div class="pnum_t"><p><span>9</span>/<span>20</span></p></div>
						</div>
					</div>
					<div class="cardbottomR">
						<div class="point">
							<div class="cardicon" style="background: url(./image/main/point.png) no-repeat; background-size: contain; width: 14px; height: 15px; margin-left: 1px;"></div>
							<div class="point_t"><p>참여 -300 / 달성 +500</p></div>
						</div>
						<div class="term">
							<div class="cardicon" style="background: url(./image/main/Alarm.png) no-repeat; background-size: contain; width: 16px; height: 16px;"></div>
							<div class="term_t"><p><span>2024.04.24</span>-<span>2024.04.28</span></p></div>
						</div>
					</div>
				</div>
			</div>

			<div class="goalcard_1">
				<!-- cardTop -->
				<div class="cardtop">
					<!-- cardTop_Left -->
					<div class="cardtopL">
						<div class="cardex">
							<div class="authcount">
								<p>1회 인증</p>
							</div>
							<div class="status">
								<p>진행중</p>
							</div>
						</div>
						<div class="goaltitle"><p>매일모각코매일모각코</p></div>
						<div class="hashtags">
							<div class="hashtag"><p># JAVA</p></div>
							<div class="hashtag"><p># 취준생</p></div>
							<div class="hashtag"><p># 개발자</p></div>
						</div>
					</div>
					<!-- cardTop_Right -->
					<div class="cardtopR">
						<div class="likeicon"></div>
						<div class="likecount"><p>999+</p></div>
					</div>
				</div>
				<div class="goalimg"></div>
				<div class="progress"></div>
				<div class="cardbottom">
					<div class="cardbottomL">
						<div class="king">
							<div class="cardicon" style="background: url(./image/main/Crown.png) no-repeat; background-size: contain; width: 16px; height: 16px;"></div>
							<div class="king_t"><p>디자인천재혤</p></div>
						</div>
						<div class="pnum">
							<div class="cardicon" style="background: url(./image/main/Group-person.png) no-repeat; background-size: contain; width: 16px; height: 16px;"></div>
							<div class="pnum_t"><p><span>9</span>/<span>20</span></p></div>
						</div>
					</div>
					<div class="cardbottomR">
						<div class="point">
							<div class="cardicon" style="background: url(./image/main/point.png) no-repeat; background-size: contain; width: 14px; height: 15px; margin-left: 1px;"></div>
							<div class="point_t"><p>참여 -300 / 달성 +500</p></div>
						</div>
						<div class="term">
							<div class="cardicon" style="background: url(./image/main/Alarm.png) no-repeat; background-size: contain; width: 16px; height: 16px;"></div>
							<div class="term_t"><p><span>2024.04.24</span>-<span>2024.04.28</span></p></div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="goalmission">
			<p>미션 전체 보기</p>
		</div>
	</div>
	<!-- 순위보러가기 -->
	<div class="rankscroll">
		<div class="ranklogo"></div>
		<div class="rankarrow"  id="rankarrow">
			<div class="arrow"></div>
		</div>
	</div>

	<!-- 순위 -->
	<div class="rankpage" id="rankpage">
		<div class="rank_t"></div>
		<div class="dansang_group">
			<div class="rankpeopleprofile">
				<div class="_2st"></div>
				<div class="_1st"></div>
				<div class="_3st"></div>
			</div>
			<div class="dansang"></div>
			<div class="rankpeoples">
				<div class="rankpeople">
					<div class="nicname">zl존 조원진</div>
					<div class="point">20493 point</div>
				</div>
				<div class="rankpeople">
					<div class="nicname">삐진 권재원</div>
					<div class="point">43024 point</div>
				</div>
				<div class="rankpeople">
					<div class="nicname">카넬로</div>
					<div class="point">9480 point</div>
				</div>
			</div>
		</div>

	</div>
</div>
<div class="upbtn" id="upbtn"></div>
<script th:src="@{/js/main/main.js}"></script>
</body>
</html>