<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">
<head>
	<title>main</title>
	<link rel="stylesheet" th:href="@{/css/goalmain/goalmain.css}">
</head>
<body layout:fragment="content">


<div class="container">
	<!-- banner -->
	<div class="banner">
		<div class="bannerlogo"></div>
		<div class="bannerelplain">
			<p>목표를 지키는 최고의 수비수,<br>
				GoalKeeper와 함께라면 넘지 못할 골대는 없습니다.
			</p>
		</div>
	</div>
	<!-- 핫한 미션 -->
	<div class="hotgoal" id="hotgoal">
		<div class="hotgoal_top">
			<div class="hotgoallogo"></div>
		</div>
		<p>미션제목을 클릭하면 해당 미션으로 이동합니다</p>

		<!--	하단 카드부분	-->
		<div class="hotgoal_bottom">
			<div th:each="goal : ${Top3Goal}" class="goalcard">
				<div class="likeArea">
					<div class="like"></div>
					<div class="likeCount" th:text="${goal.likeCount}"></div>
				</div>

				<!--	카드상단	-->
				<div class="cardtop">
					<div class="cardtopL">
						<div class="cardex">
							<div class="authcount">
								<p th:text="${goal.authCount} + '회 인증'"></p>
							</div>
							<div class="status">
								<p th:text="${goal.complete}"></p>
							</div>
						</div>
						<div class="goaltitle" th:onclick="'location.href=\'/goal/' + ${goal.goalId} + '\''">
							<p th:text="${goal.title}"></p>
						</div>
						<div class="hashtags">
							<div th:each="hashtag : ${goal.hashtagDTOList}" class="hashtag">
								<p th:text="'# ' + ${hashtag.tagName}"></p>
							</div>
						</div>
					</div>
<!--					<div class="cardtopR">-->
<!--						<div class="like"></div>-->
<!--						<p class="likecount" th:text="${goal.likeCount}"></p>-->
<!--					</div>-->
				</div>

				<!--	카드 이미지	-->
				<div class="goalimg" th:style="'background: url(' + ${goal.imgPath} + ') center / contain'"></div>

				<!--	profressbar	-->
				<div class="progress"></div>

				<!--	카드 하단	-->
				<div class="cardbottom">
					<div class="cardbottomL">
						<div class="king">
							<div class="cardicon"></div>
							<div class="king_t"><p th:text="${goal.roomManager}"></p></div>
						</div>
						<div class="pnum">
							<div class="cardicon"></div>
							<div class="pnum_t">
								<p><span th:text="${goal.curPeople}"></span>/<span th:text="${goal.maxPeople}"></span></p>
							</div>
						</div>
					</div>
					<div class="cardbottomR">
						<div class="point">
							<div class="cardicon"></div>
							<div class="point_t"><p>참여 -300 / 달성 +500</p></div>
						</div>
						<div class="term">
							<div class="cardicon"></div>
							<div class="term_t">
								<p><span th:text="${#strings.replace(goal.startDate, '-', '.')}"></span>-<span th:text="${#strings.replace(goal.endDate, '-', '.')}"></span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="goalmission" th:onclick="'location.href=\'/goal/list\''">
			<p>미션 전체 보기</p>
		</div>
	</div>
	<!-- 순위보러가기 -->
	<div class="rankscroll">
		<div class="ranklogo"></div>
		<div class="rankarrow"  id="rankarrow">
			<div class="arrow"></div>
		</div>
	</div>

	<!-- 순위 -->
	<div class="rankpage" id="rankpage">
		<div class="rank_t"></div>
		<p class="explain">순위는 매일 자정 업데이트됩니다</p>
		<div class="dansang_group">
			<div class="rankpeopleprofile">
				<div class="peopleprofile" th:each="item : ${rankpeople}" th:if="${item.ranking == 2}">
					<div class="_2nd" th:style="'background: url(' + ${item.imgPath} + ') center / contain'"></div>
				</div>
				<div class="peopleprofile" th:each="item : ${rankpeople}" th:if="${item.ranking == 1}">
					<div class="_1st" th:style="'background: url(' + ${item.imgPath} + ') center / contain'"></div>
				</div>
				<div class="peopleprofile" th:each="item : ${rankpeople}" th:if="${item.ranking == 3}">
					<div class="_3rd" th:style="'background: url(' + ${item.imgPath} + ') center / contain'"></div>
				</div>
			</div>
			<div class="dansang"></div>
			<div class="rankpeoples">
				<div class="rankpeople" th:each="item : ${rankpeople}" th:if="${item.ranking == 1}">
					<div class="nicname" th:text="${item.nicName}"></div>
					<div class="point" th:text="${item.rank_point}"></div>
				</div>
				<div class="rankpeople" th:each="item : ${rankpeople}" th:if="${item.ranking == 2}">
					<div class="nicname" th:text="${item.nicName}"></div>
					<div class="point" th:text="${item.rank_point}"></div>
				</div>
				<div class="rankpeople" th:each="item : ${rankpeople}" th:if="${item.ranking == 3}">
					<div class="nicname" th:text="${item.nicName}"></div>
					<div class="point" th:text="${item.rank_point}"></div>
				</div>

			</div>
		</div>
	</div>
</div>
<script th:src="@{/js/main/main.js}"></script>
<!-- 모델 값을 자바스크립트로 넘기기 -->
<script th:inline="javascript">
	var memberId = /*[[${member_id}]]*/ 'default';
	var memberProfile = "/"+/*[[${memberProfile}]]*/ 'default';
</script>
</body>
</html>