<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoalKeeper</title>
    <link rel="stylesheet" href="../../static/css/Intro.css" />
    <link rel="stylesheet" href="../../static/css/default.css" />
</head>
<body>
    <div class="container">
        <div class="Intro_logo"></div>
        <div class="Intro_explain">
            <p>목표를 지키는 최고의 수비수,<br>
                GoalKeeper와 함께라면 넘지 못할 골대는 없습니다.
            </p>
        </div>
        <div class="Intro_goalCard" id="cardslider">
            <div class="card "></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>
        <div class="Intro_btn">
            <a href="#"><div class="btnlogo"></div></a>
            
        </div>
    </div>
    <script src="./js/Intro.js"></script>
</body>
</html>