<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GoalKeeper - 한탕게임</title>
    <!-- <link rel="stylesheet" href="../../static/css/default.css"> -->
    <link rel="stylesheet" href="../../static/css/game/bat_game.css" />
  </head>
  <body>
    <header>
      <div><img src="../../static/images/헤더 로고.png" /></div>
    </header>
    <div id="container">
      <div id="content">
        <div id="game_list">
          <div class="game_btn" id="ox_game">OX 퀴즈</div>
          <div class="game_btn" id="soccer_game">축구 게임</div>
          <div class="game_btn" id="bat_game">한탕 게임</div>
        </div>
        <div id="bat_game_img">
            <div class="track">
              <div class="snail" id="snail1">@y</div>
            </div>
            <div class="track">
              <div class="snail" id="snail2">@y</div>
            </div>
            <div class="track">
              <div class="snail" id="snail3">@y</div>
            </div>
            <div class="track">
              <div class="snail" id="snail4">@y</div>
            </div>
            <div class="track">
              <div class="snail" id="snail5">@y</div>
            </div>
          <div id="bat_start_btn">START</div>
        </div>
      </div>
      <p id="result"></p>
    </div>
    <script src="../../static/js/game/bat_game.js"></script>
  </body>
</html>
