<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoalKeeper - 미니게임 메인페이지</title>
    <link rel="stylesheet" th:href="@{/css/game/game_main.css}">
</head>
<body layout:fragment="content">
<div id="container">
    <div id="header">
    </div>
    <div id="game_banner">
        <h1>Let's Play</h1>
        <h2>여러분을 위한 재미있는 미니게임이 준비되어 있습니다.<br>
            다양한 게임을 플레이하고 포인트를 받아 보세요!</h2>
    </div>
    <div id="content">
        <div id="soccer_game">
            <div id="soccer_img"></div>
            <div id="soccer_ex">
                <h1>축구공 잡기</h1><br>
                <h2>시간은 단 20초!<br>
                    축구공을 클릭해서 최대한 많은 골을 넣어보세요.<br>
                    많은 골을 넣을수록 더 큰 보상이 기다리고 있습니다!
                </h2><br>
                <a href="#" class="soccer_btn"><button id="soccer_btn">▶ Play</button></a>
            </div>
        </div>
        <div id="game_small">
            <div id="ox_game">
                <div id="ox_img"></div>
                <div id="ox_name"><h1>OX 퀴즈</h1></div>
                <div id="ox_ex">
                    <a href="/game/OXGame"  class="ox_btn"><button id="ox_btn">▶ Play</button></a>
                    <h2>5문제의 OX퀴즈를 맞춘만큼 포인트를<br>
                        획득할 기회를 드립니다!</h2>
                </div>
            </div>
            <div id="bat_game">
                <div id="bat_img"></div>
                <div id="bat_name"><h1>한탕 게임</h1></div>
                <div id="bat_ex">
                    <a href="/game/game/bat_game" class="bat_btn"><button id="bat_btn">▶ Play</button></a>
                    <h2>당신의 달팽이에게 배팅하고<br>
                        3배의 보상을 가져가세요!</h2>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>