<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- navbar -> header, header삭제 -->
<div class="header" th:fragment="bodyheader">
	<div class="navlogo" onclick="location.href= '/main'"></div>
	<div class="navtabs">
		<!--	    링크가 일치하면 active class추가-->
		<div class="tab tab1" data-path="/goal/add" onclick="location.href= '/goal/add'">
			<div class="penicon"></div>
			<p>미션 등록하기</p>
		</div>

		<div class="tab tab2" data-path="/goal/list" onclick="location.href= '/goal/list'">
			<div class="fireicon"></div>
			<p>미션 참여하기</p>
		</div>

		<div class="tab tab3" data-path="/game/game_main" onclick="location.href= '/game/game_main'">
			<div class="gameicon"></div>
			<p>미니게임</p>
		</div>
	</div>
	<div class="navprofile">
		<!--로그인후 -> messagecom -->
		<div class="messagecom_Disabled">
			<!-- 클릭하면 message_open -->
			<div class="message"></div>
			<!-- 클릭하면 reddot속성없앰 -->
			<div class="reddot"></div>
		</div>
		<div class="messagebox">
			<div class="alarmElem">---미션이 시작됩니다.</div>
			<div class="alarmElem">---미션이 종료됩니다.</div>
			<div class="alarmElem">---미션이 시작됩니다.</div>
		</div>

		<!-- loginbtn : profile -->
		<div onclick="location.href = '/member/login'" class="loginbtn">
			<p>로그인</p>
		</div>

		<div class="dropdown">
			<div class="drop" onclick="location.href = '/member/myPage'">마이페이지</div>
			<div class="drop" onclick="location.href = '/'">내 미션</div>
			<div class="drop" id="logout" onclick="location.href = '/logout'">로그아웃</div>
		</div>

	</div>
	<div class="line"></div>
	<div class="upbtn" id="upbtn" th:style = " 'background: url(/images/header/upbtn.png) no-repeat center / contain' "></div>
</div>