<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="footer" th:fragment="bodyfooter">
	<div class="footerele">
		<h2 class="footer-logo">GoalKeeper</h2>
		<p class="copyright">
			Rainbow_Allrounders &copy; 2024. All rights reserved.
		</p>
		<div class="box-sns">
			<button class="Notion"
			        onclick="location.href='https://purring-suggestion-391.notion.site/476cadbd68d54141b92c4d88d09b097e?pvs=4'"></button>
			<button class="Github" onclick="location.href='https://github.com/RainbowAllRounders/GoalKeeper.git'"></button>
		</div>
	</div>
</div>
</body>
</html>