<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="configFragment">
		<link rel="stylesheet" th:href="@{/css/header.css}">
		<link rel="stylesheet" th:href="@{/css/footer.css}">
		<link rel="stylesheet" th:href="@{/css/default.css}">
		<script th:src="@{/js/main/header.js}"></script>
		<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css}">

		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>

	</th:block>
</html>