<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoalKeeper - 미션 목록</title>
    <link rel="stylesheet" href="../../static/css/default.css">
    <link rel="stylesheet" href="../../static/css/goal/goalList.css">
</head>

<body>
    <div id="goalListWrapper">

        <!-- 필터와 검색창 -->

        <div id="goalListHeader">
            <div id="filterList">
                <div class="filter">전체</div>
                <div class="filter">모집</div>
                <div class="filter">진행</div>
                <div class="filter">완료</div>
            </div>

            <div id="searchBox">
                <input type="text">
                <img src="../../static/images/magnifier.png" alt="돋보기" id="magnifier">
            </div>
        </div>

        <!-- goalList들 -->

        <div id="goalListContainer">
            <div class="goalCard shadowBox">

                <div class="cardHeader">

                    <div class="leftContainer">
                        <div class="categoryList">
                            <div class="timesTag tags">1회 인증</div>
                            <div class="statusTag tags">모집 중</div>
                        </div>
                        <div class="goalTitle">매일 만 보 이상 걷기</div>

                        <div class="hashtagList">
                            <div class="hashtag tags">#달리기요</div>
                            <div class="hashtag tags">#한강이요</div>
                            <div class="hashtag tags">#다이어트</div>
                        </div>
                    </div>

                    <div class="rightContainer">
                        <img id="heart" src="../../static/images/redHeart.png" alt="하트">
                        <div class="likeCount">999+</div>
                    </div>
                </div>

                <div class="imgWrapper"></div>

                <div class="cardFooter">
                    <img class="progressBar" src="../../static/images/progressBar.png" alt="프로그래스바">
                    <div>
                        <div class="nicknameBox">
                            <img src="../../static/images/crown.png" alt="">
                            닉네임닉넴
                        </div>
                        <div class="pointBox">
                            <img src="../../static/images/point.png" alt="">
                            <div>참여 -500</div>/
                            <div>달성 +1000</div>
                        </div>
                    </div>
                    <div>
                        <div class="peopleCountBox">
                            <img src="../../static/images/group-person.png" alt="">
                            9/20
                        </div>
                        <div class="periodBox">
                            <img src="../../static/images/alarm.png" alt="">
                            2024. 04. 24 ~ 2024. 04. 28
                        </div>
                    </div>
                </div>

            </div>

            <div class="goalCard shadowBox">

                <div class="cardHeader">

                    <div class="leftContainer">
                        <div class="categoryList">
                            <div class="timesTag tags">1회 인증</div>
                            <div class="statusTag tags">모집 중</div>
                        </div>
                        <div class="goalTitle">매일 만 보 이상 걷기</div>

                        <div class="hashtagList">
                            <div class="hashtag tags">#달리기요</div>
                            <div class="hashtag tags">#한강이요</div>
                            <div class="hashtag tags">#다이어트</div>
                        </div>
                    </div>

                    <div class="rightContainer">
                        <img id="heart" src="../../static/images/redHeart.png" alt="하트">
                        <div class="likeCount">999+</div>
                    </div>
                </div>

                <div class="imgWrapper"></div>

                <div class="cardFooter">
                    <img class="progressBar" src="../../static/images/progressBar.png" alt="프로그래스바">
                    <div>
                        <div class="nicknameBox">
                            <img src="../../static/images/crown.png" alt="">
                            닉네임닉넴
                        </div>
                        <div class="pointBox">
                            <img src="../../static/images/point.png" alt="">
                            <div>참여 -500</div>/
                            <div>달성 +1000</div>
                        </div>
                    </div>
                    <div>
                        <div class="peopleCountBox">
                            <img src="../../static/images/group-person.png" alt="">
                            9/20
                        </div>
                        <div class="periodBox">
                            <img src="../../static/images/alarm.png" alt="">
                            2024. 04. 24 ~ 2024. 04. 28
                        </div>
                    </div>
                </div>

            </div>

            <div class="goalCard shadowBox">

                <div class="cardHeader">

                    <div class="leftContainer">
                        <div class="categoryList">
                            <div class="timesTag tags">1회 인증</div>
                            <div class="statusTag tags">모집 중</div>
                        </div>
                        <div class="goalTitle">매일 만 보 이상 걷기</div>

                        <div class="hashtagList">
                            <div class="hashtag tags">#달리기요</div>
                            <div class="hashtag tags">#한강이요</div>
                            <div class="hashtag tags">#다이어트</div>
                        </div>
                    </div>

                    <div class="rightContainer">
                        <img id="heart" src="../../static/images/redHeart.png" alt="하트">
                        <div class="likeCount">999+</div>
                    </div>
                </div>

                <div class="imgWrapper"></div>

                <div class="cardFooter">
                    <img class="progressBar" src="../../static/images/progressBar.png" alt="프로그래스바">
                    <div>
                        <div class="nicknameBox">
                            <img src="../../static/images/crown.png" alt="">
                            닉네임닉넴
                        </div>
                        <div class="pointBox">
                            <img src="../../static/images/point.png" alt="">
                            <div>참여 -500</div>/
                            <div>달성 +1000</div>
                        </div>
                    </div>
                    <div>
                        <div class="peopleCountBox">
                            <img src="../../static/images/group-person.png" alt="">
                            9/20
                        </div>
                        <div class="periodBox">
                            <img src="../../static/images/alarm.png" alt="">
                            2024. 04. 24 ~ 2024. 04. 28
                        </div>
                    </div>
                </div>

            </div>

            <div class="goalCard shadowBox">

                <div class="cardHeader">

                    <div class="leftContainer">
                        <div class="categoryList">
                            <div class="timesTag tags">1회 인증</div>
                            <div class="statusTag tags">모집 중</div>
                        </div>
                        <div class="goalTitle">매일 만 보 이상 걷기</div>

                        <div class="hashtagList">
                            <div class="hashtag tags">#달리기요</div>
                            <div class="hashtag tags">#한강이요</div>
                            <div class="hashtag tags">#다이어트</div>
                        </div>
                    </div>

                    <div class="rightContainer">
                        <img id="heart" src="../../static/images/redHeart.png" alt="하트">
                        <div class="likeCount">999+</div>
                    </div>
                </div>

                <div class="imgWrapper"></div>

                <div class="cardFooter">
                    <img class="progressBar" src="../../static/images/progressBar.png" alt="프로그래스바">
                    <div>
                        <div class="nicknameBox">
                            <img src="../../static/images/crown.png" alt="">
                            닉네임닉넴
                        </div>
                        <div class="pointBox">
                            <img src="../../static/images/point.png" alt="">
                            <div>참여 -500</div>/
                            <div>달성 +1000</div>
                        </div>
                    </div>
                    <div>
                        <div class="peopleCountBox">
                            <img src="../../static/images/group-person.png" alt="">
                            9/20
                        </div>
                        <div class="periodBox">
                            <img src="../../static/images/alarm.png" alt="">
                            2024. 04. 24 ~ 2024. 04. 28
                        </div>
                    </div>
                </div>

            </div>

            <div class="goalCard shadowBox">

                <div class="cardHeader">

                    <div class="leftContainer">
                        <div class="categoryList">
                            <div class="timesTag tags">1회 인증</div>
                            <div class="statusTag tags">모집 중</div>
                        </div>
                        <div class="goalTitle">매일 만 보 이상 걷기</div>

                        <div class="hashtagList">
                            <div class="hashtag tags">#달리기요</div>
                            <div class="hashtag tags">#한강이요</div>
                            <div class="hashtag tags">#다이어트</div>
                        </div>
                    </div>

                    <div class="rightContainer">
                        <img id="heart" src="../../static/images/redHeart.png" alt="하트">
                        <div class="likeCount">999+</div>
                    </div>
                </div>

                <div class="imgWrapper"></div>

                <div class="cardFooter">
                    <img class="progressBar" src="../../static/images/progressBar.png" alt="프로그래스바">
                    <div>
                        <div class="nicknameBox">
                            <img src="../../static/images/crown.png" alt="">
                            닉네임닉넴
                        </div>
                        <div class="pointBox">
                            <img src="../../static/images/point.png" alt="">
                            <div>참여 -500</div>/
                            <div>달성 +1000</div>
                        </div>
                    </div>
                    <div>
                        <div class="peopleCountBox">
                            <img src="../../static/images/group-person.png" alt="">
                            9/20
                        </div>
                        <div class="periodBox">
                            <img src="../../static/images/alarm.png" alt="">
                            2024. 04. 24 ~ 2024. 04. 28
                        </div>
                    </div>
                </div>

            </div>

            <div class="goalCard shadowBox">

                <div class="cardHeader">

                    <div class="leftContainer">
                        <div class="categoryList">
                            <div class="timesTag tags">1회 인증</div>
                            <div class="statusTag tags">모집 중</div>
                        </div>
                        <div class="goalTitle">매일 만 보 이상 걷기</div>

                        <div class="hashtagList">
                            <div class="hashtag tags">#달리기요</div>
                            <div class="hashtag tags">#한강이요</div>
                            <div class="hashtag tags">#다이어트</div>
                        </div>
                    </div>

                    <div class="rightContainer">
                        <img id="heart" src="../../static/images/redHeart.png" alt="하트">
                        <div class="likeCount">999+</div>
                    </div>
                </div>

                <div class="imgWrapper"></div>

                <div class="cardFooter">
                    <img class="progressBar" src="../../static/images/progressBar.png" alt="프로그래스바">
                    <div>
                        <div class="nicknameBox">
                            <img src="../../static/images/crown.png" alt="">
                            닉네임닉넴
                        </div>
                        <div class="pointBox">
                            <img src="../../static/images/point.png" alt="">
                            <div>참여 -500</div>/
                            <div>달성 +1000</div>
                        </div>
                    </div>
                    <div>
                        <div class="peopleCountBox">
                            <img src="../../static/images/group-person.png" alt="">
                            9/20
                        </div>
                        <div class="periodBox">
                            <img src="../../static/images/alarm.png" alt="">
                            2024. 04. 24 ~ 2024. 04. 28
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div id="seeMoreBtn">더보기</div>

    </div>
</body>

</html>