<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoalKeeper - </title>
    <link rel="stylesheet" href="../../static/css/default.css">
    <link rel="stylesheet" href="../../static/css/goalList.css">
</head>
<body>
    <div id="goalListWrapper">

        <!-- 필터와 검색창 -->

        <div id="goalListHeader">
            <div id="filterList">
                <div class="filter">전체</div>
                <div class="filter">모집</div>
                <div class="filter">진행</div>
                <div class="filter">완료</div>
            </div>

            <div id="searchBox">
                <input type="text">
                <img src="../../static/images/magnifier.png" alt="돋보기" id="magnifier">
            </div>
        </div>

        <!-- goalList들 -->

        <div id="goalListContainer">
            <div class="goalCard shadowBox"></div>
            <div class="goalCard shadowBox"></div>
            <div class="goalCard shadowBox"></div>
            <div class="goalCard shadowBox"></div>
            <div class="goalCard shadowBox"></div>
        </div>
        
        <div id="goalListContainer">
            <div class="goalCard shadowBox"></div>
            <div class="goalCard shadowBox"></div>
            <div class="goalCard shadowBox"></div>
            <div class="goalCard shadowBox"></div>
            <div class="goalCard shadowBox"></div>
        </div>
    </div>
</body>
</html>