<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoalKeeper - 미션 목록</title>
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link rel="stylesheet" th:href="@{/css/goal/goalList.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>

<body layout:fragment="content">
    <th:block th:replace="~{layout/bodyheader :: bodyheader}"></th:block>
    <div id="goalListWrapper">

        <!-- 필터와 검색창 -->

        <div id="goalListHeader">
            <div id="filterList">
                <div class="filter">전체</div>
                <div class="filter">모집</div>
                <div class="filter">진행</div>
                <div class="filter">완료</div>
            </div>

            <div id="searchBox">
                <input type="text">
                <img th:src="@{/images/magnifier.png}" alt="돋보기" id="magnifier">
            </div>
        </div>

        <!-- goalList들 -->

        <div id="goalListContainer">
            <div th:each="goal : ${goalList.dtoList}" class="goalCard shadowBox">

                <div class="cardHeader">

                    <div class="leftContainer">
                        <div class="categoryList">
                            <div class="timesTag tags" th:text="${goal.authCount} + '회 인증'"></div>
                            <div class="statusTag tags"  th:text="${goal.complete}"></div>
                        </div>
                        <div class="goalTitle" th:text="${goal.title}" th:onclick="'location.href=\'/goal/detail/' + ${goal.goalId} + '\''" style="cursor: pointer"></div>

                        <div class="hashtagList">
                            <div  th:each="hashtagDTO : ${goal.hashtagDTOList}" class="hashtag tags" th:text="${hashtagDTO.tagName}"></div>
                        </div>
                    </div>

                    <div class="rightContainer">
                        <img class="heart" th:src="@{/images/grayHeart.png}" alt="하트">
                        <div class="likeCount" th:text="${goal.likeCount}"></div>
                    </div>
                </div>

                <div class="imgWrapper"></div>

                <div class="cardFooter">
                    <img class="progressBar" th:src="@{/images/progressBar.png}" alt="프로그래스바">
                    <div>
                        <div class="nicknameBox">
                            <img th:src="@{/images/crown.png}" alt="왕관">
                            <p th:text="${goal.writer}"></p>
                        </div>
                        <div class="pointBox">
                            <img th:src="@{/images/point.png}" alt="포인트">
                            <div>참여 -500</div>/
                            <div>달성 +1000</div>
                        </div>
                    </div>
                    <div>
                        <div class="peopleCountBox">
                            <img th:src="@{/images/group-person.png}" alt="사람들">
                            <p th:text="${goal.curPeople}"></p>/<p th:text="${goal.maxPeople}"></p>
                        </div>
                        <div class="periodBox">
                        <div class="periodBox">
                            <img th:src="@{/images/alarm.png}" alt="기간">
                            <p th:text="${goal.startDate}"></p> ~ <p th:text="${goal.endDate}"></p>
                        </div>
                    </div>
                </div>

            </div>

<!--            <div class="goalCard shadowBox" onclick="location.href='goalDetail.html'">-->

<!--                <div class="cardHeader">-->

<!--                    <div class="leftContainer">-->
<!--                        <div class="categoryList">-->
<!--                            <div class="timesTag tags">1회 인증</div>-->
<!--                            <div class="statusTag tags proceeding">진행 중</div>-->
<!--                        </div>-->
<!--                        <div class="goalTitle">매일 만 보 이상 걷기</div>-->

<!--                        <div class="hashtagList">-->
<!--                            <div class="hashtag tags">#달리기요</div>-->
<!--                            <div class="hashtag tags">#한강이요</div>-->
<!--                            <div class="hashtag tags">#다이어트</div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="rightContainer">-->
<!--                        <img class="heart" th:src="@{/images/redHeart.png}" alt="하트">-->
<!--                        <div class="likeCount">999+</div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="imgWrapper"></div>-->

<!--                <div class="cardFooter">-->
<!--                    <img class="progressBar" th:src="@{/images/progressBar.png}" alt="프로그래스바">-->
<!--                    <div>-->
<!--                        <div class="nicknameBox">-->
<!--                            <img th:src="@{/images/crown.png}" alt="왕관">-->
<!--                            닉네임닉넴-->
<!--                        </div>-->
<!--                        <div class="pointBox">-->
<!--                            <img th:src="@{/images/point.png}" alt="포인트">-->
<!--                            <div>참여 -500</div>/-->
<!--                            <div>달성 +1000</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <div class="peopleCountBox">-->
<!--                            <img th:src="@{/images/group-person.png}" alt="사람들">-->
<!--                            9/20-->
<!--                        </div>-->
<!--                        <div class="periodBox">-->
<!--                            <img th:src="@{/images/alarm.png}" alt="기간">-->
<!--                            2024. 04. 24 ~ 2024. 04. 28-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->

<!--            <div class="goalCard shadowBox" onclick="location.href='goalDetail.html'">-->

<!--                <div class="cardHeader">-->

<!--                    <div class="leftContainer">-->
<!--                        <div class="categoryList">-->
<!--                            <div class="timesTag tags">1회 인증</div>-->
<!--                            <div class="statusTag tags complete">완료</div>-->
<!--                        </div>-->
<!--                        <div class="goalTitle">매일 만 보 이상 걷기</div>-->

<!--                        <div class="hashtagList">-->
<!--                            <div class="hashtag tags">#달리기요</div>-->
<!--                            <div class="hashtag tags">#한강이요</div>-->
<!--                            <div class="hashtag tags">#다이어트</div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="rightContainer">-->
<!--                        <img class="heart" th:src="@{/images/redHeart.png}" alt="하트">-->
<!--                        <div class="likeCount">999+</div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="imgWrapper"></div>-->

<!--                <div class="cardFooter">-->
<!--                    <img class="progressBar" th:src="@{/images/progressBar.png}" alt="프로그래스바">-->
<!--                    <div>-->
<!--                        <div class="nicknameBox">-->
<!--                            <img th:src="@{/images/crown.png}" alt="왕관">-->
<!--                            닉네임닉넴-->
<!--                        </div>-->
<!--                        <div class="pointBox">-->
<!--                            <img th:src="@{/images/point.png}" alt="포인트">-->
<!--                            <div>참여 -500</div>/-->
<!--                            <div>달성 +1000</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <div class="peopleCountBox">-->
<!--                            <img th:src="@{/images/group-person.png}" alt="사람들">-->
<!--                            9/20-->
<!--                        </div>-->
<!--                        <div class="periodBox">-->
<!--                            <img th:src="@{/images/alarm.png}" alt="기간">-->
<!--                            2024. 04. 24 ~ 2024. 04. 28-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->

<!--            <div class="goalCard shadowBox" onclick="location.href='goalDetail.html'">-->

<!--                <div class="cardHeader">-->

<!--                    <div class="leftContainer">-->
<!--                        <div class="categoryList">-->
<!--                            <div class="timesTag tags">1회 인증</div>-->
<!--                            <div class="statusTag tags">모집 중</div>-->
<!--                        </div>-->
<!--                        <div class="goalTitle">매일 만 보 이상 걷기</div>-->

<!--                        <div class="hashtagList">-->
<!--                            <div class="hashtag tags">#달리기요</div>-->
<!--                            <div class="hashtag tags">#한강이요</div>-->
<!--                            <div class="hashtag tags">#다이어트</div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="rightContainer">-->
<!--                        <img class="heart" th:src="@{/images/redHeart.png}" alt="하트">-->
<!--                        <div class="likeCount">999+</div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="imgWrapper"></div>-->

<!--                <div class="cardFooter">-->
<!--                    <img class="progressBar" th:src="@{/images/progressBar.png}" alt="프로그래스바">-->
<!--                    <div>-->
<!--                        <div class="nicknameBox">-->
<!--                            <img th:src="@{/images/crown.png}" alt="왕관">-->
<!--                            닉네임닉넴-->
<!--                        </div>-->
<!--                        <div class="pointBox">-->
<!--                            <img th:src="@{/images/point.png}" alt="포인트">-->
<!--                            <div>참여 -500</div>/-->
<!--                            <div>달성 +1000</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <div class="peopleCountBox">-->
<!--                            <img th:src="@{/images/group-person.png}" alt="사람들">-->
<!--                            9/20-->
<!--                        </div>-->
<!--                        <div class="periodBox">-->
<!--                            <img th:src="@{/images/alarm.png}" alt="기간">-->
<!--                            2024. 04. 24 ~ 2024. 04. 28-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->

<!--            <div class="goalCard shadowBox" onclick="location.href='goalDetail.html'">-->

<!--                <div class="cardHeader">-->

<!--                    <div class="leftContainer">-->
<!--                        <div class="categoryList">-->
<!--                            <div class="timesTag tags">1회 인증</div>-->
<!--                            <div class="statusTag tags">모집 중</div>-->
<!--                        </div>-->
<!--                        <div class="goalTitle">매일 만 보 이상 걷기</div>-->

<!--                        <div class="hashtagList">-->
<!--                            <div class="hashtag tags">#달리기요</div>-->
<!--                            <div class="hashtag tags">#한강이요</div>-->
<!--                            <div class="hashtag tags">#다이어트</div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="rightContainer">-->
<!--                        <img class="heart" th:src="@{/images/redHeart.png}" alt="하트">-->
<!--                        <div class="likeCount">999+</div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="imgWrapper"></div>-->

<!--                <div class="cardFooter">-->
<!--                    <img class="progressBar" th:src="@{/images/progressBar.png}" alt="프로그래스바">-->
<!--                    <div>-->
<!--                        <div class="nicknameBox">-->
<!--                            <img th:src="@{/images/crown.png}" alt="왕관">-->
<!--                            닉네임닉넴-->
<!--                        </div>-->
<!--                        <div class="pointBox">-->
<!--                            <img th:src="@{/images/point.png}" alt="포인트">-->
<!--                            <div>참여 -500</div>/-->
<!--                            <div>달성 +1000</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <div class="peopleCountBox">-->
<!--                            <img th:src="@{/images/group-person.png}" alt="사람들">-->
<!--                            9/20-->
<!--                        </div>-->
<!--                        <div class="periodBox">-->
<!--                            <img th:src="@{/images/alarm.png}" alt="기간">-->
<!--                            2024. 04. 24 ~ 2024. 04. 28-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->

<!--            <div class="goalCard shadowBox" onclick="location.href='goalDetail.html'">-->

<!--                <div class="cardHeader">-->

<!--                    <div class="leftContainer">-->
<!--                        <div class="categoryList">-->
<!--                            <div class="timesTag tags">1회 인증</div>-->
<!--                            <div class="statusTag tags">모집 중</div>-->
<!--                        </div>-->
<!--                        <div class="goalTitle">매일 만 보 이상 걷기</div>-->

<!--                        <div class="hashtagList">-->
<!--                            <div class="hashtag tags">#달리기요</div>-->
<!--                            <div class="hashtag tags">#한강이요</div>-->
<!--                            <div class="hashtag tags">#다이어트</div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="rightContainer">-->
<!--                        <img class="heart" th:src="@{/images/redHeart.png}" alt="하트">-->
<!--                        <div class="likeCount">999+</div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="imgWrapper"></div>-->

<!--                <div class="cardFooter">-->
<!--                    <img class="progressBar" th:src="@{/images/progressBar.png}" alt="프로그래스바">-->
<!--                    <div>-->
<!--                        <div class="nicknameBox">-->
<!--                            <img th:src="@{/images/crown.png}" alt="왕관">-->
<!--                            닉네임닉넴-->
<!--                        </div>-->
<!--                        <div class="pointBox">-->
<!--                            <img th:src="@{/images/point.png}" alt="포인트">-->
<!--                            <div>참여 -500</div>/-->
<!--                            <div>달성 +1000</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <div class="peopleCountBox">-->
<!--                            <img th:src="@{/images/group-person.png}" alt="사람들">-->
<!--                            9/20-->
<!--                        </div>-->
<!--                        <div class="periodBox">-->
<!--                            <img th:src="@{/images/alarm.png}" alt="기간">-->
<!--                            2024. 04. 24 ~ 2024. 04. 28-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->
        </div>

        <div id="seeMoreBtn" style="cursor: pointer">더보기</div>

    </div>
<!--    <th:block th:replace="~{layout/bodyfooter :: bodyfooter}"></th:block>-->
    <script th:src="@{/js/goal/goalList.js}"></script>
    <script th:src="@{/js/main/header.js}"></script>
</body>

</html>