<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>미션 상세페이지</title>

    <link rel="stylesheet"
          th:href="@{/css/default.css}"
          href="../../static/css/default.css">
    <link rel="stylesheet"
          th:href="@{/css/goal/goalDetail.css}"
          href="../../static/css/goal/goalDetail.css">

    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body layout:fragment="content">

<div id="container">


    <div id="like">
        <img class="like_img" th:src="${goalDetail.isLiked() == true} ? '/images/redHeart.png' : '/images/grayHeart.png'">
        <div class="like_count" th:text="${goalDetail.likeCount}"></div>
    </div>

    <div class="main">

        <div class="auth_count" th:text="${goalDetail.authCount + '회 인증'}"></div>

        <p class="title" th:text="${goalDetail.title}">평일 AM 04:00 미라클 모닝🥖</p>

        <div class="content" th:text="${goalDetail.content}">
            평일 미라클 모닝 인증 미션이고, 인증은 매일 해야 합니다.<br>
            일어난 시간에 캡쳐하거나, 시계 사진으로 인증하시면 됩니다.
        </div>

        <div id="join_quit">
            <div id="join">
                <span th:text="${goalDetail.isJoin() == true} ? '참여취소' : '참여하기'"></span>
            </div>
        </div>

        <div class="main_img">
            <img src="/static/images/main_img.png" alt="새벽4시사진">

            <ul class="goal_info">
                <li>
                    <img src="/images/crown.png" class="info_li_img">
                    <span th:text="${goalDetail.goalCreator}">&nbsp;&nbsp;&nbsp;카넬로</span>
                </li>
                <li><img src="/images/alarm.png" class="info_li_img"><span th:text="'&nbsp;&nbsp;&nbsp;' + ${goalDetail.startDate} + ' - ' + ${goalDetail.endDate}"  >&nbsp;&nbsp;&nbsp;2024.04.24-2024.04.28</span></li>
                <li><img src="/images/point.png" class="info_li_img"><span>&nbsp;&nbsp;&nbsp;참여 -500 / 달성 +1000</span></li>
                <li><img src="/images/group-person.png" class="info_li_img"><span th:text="'&nbsp;&nbsp;&nbsp;' + ${goalDetail.curPeople} + '/' + ${goalDetail.maxPeople}">&nbsp;&nbsp;&nbsp;9/20</span></li>
                <li><img src="/images/userPro.png" class="info_li_img"><span>&nbsp;&nbsp;&nbsp;내 진행률</span></li>
                <div class="auth">
                    <li class="cur_count">50</li>
                    <li class="total_count" th:text="${'of ' + goalDetail.authCount}">of 100</li>
                </div>
            </ul>
        </div>

        <div class="progress_bar_border">
            <div class="fill">
                <span>75%</span>
            </div>
        </div>

        <div class="hashtag">
            <p th:each="hashtag : ${goalDetail.hashtagList}" th:text="'#' + ${hashtag.tagName}">#호랑이</p>
        </div>

    </div>

    <div class="auth_file">
        <label for="file" class="auth_btn">
            <span>인증하기</span>
        </label>
        <input type="file" name="file" id="file">
    </div>

    <div class="auth_imgs">
        <div class="prev_next_btn">
            <img src="/images/grey_prev.png" class="prev_btn">
            <img src="/images/grey_next.png" class="next_btn">
        </div>

        <div class="auth_img">

        </div>
    </div>

</div>

<script src="/js/goal/goalDetail.js"></script>
</body>
</html>