<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>미션 상세페이지</title>
    <link rel="stylesheet" href="../../static/css/default.css">
    <link rel="stylesheet" href="../../static/css/goalDetail.css">
    <script src="js/scripe.js"></script>
</head>
<body>

<div id="container">

    <div id="like">
        <img src="../../static/images/redHeart.png" alt="좋아요" class="like_img">
        <div class="like_count">&nbsp;&nbsp;999+</div>
    </div>

    <div class="join_quit">
        <div class="join">
            <span>참여하기</span>
        </div>
        <p class="quit">
            <span>나가기</span>
        </p>
    </div>

    <div class="main">

        <div class="auth_count">100회 인증</div>

        <p class="title">평일 AM 04:00 미라클 모닝🥖</p>

        <div class="content">
            평일 미라클 모닝 인증 미션이고, 인증은 매일 해야 합니다.<br>
            일어난 시간에 캡쳐하거나, 시계 사진으로 인증하시면 됩니다.
        </div>

        <div class="main_img">
            <img src="../../static/images/main_img.png" alt="새벽4시사진">

            <ul class="goal_info">
                <li>
                    <img src="../../static/images/crown.png" class="info_li_img">
                    <span>&nbsp;&nbsp;&nbsp;카넬로</span>
                </li>
                <li><img src="../../static/images/alarm.png" class="info_li_img"><span>&nbsp;&nbsp;&nbsp;2024.04.24-2024.04.28</span></li>
                <li><img src="../../static/images/point.png" class="info_li_img"><span>&nbsp;&nbsp;&nbsp;참여 -500 / 달성 +1000</span></li>
                <li><img src="../../static/images/group-person.png" class="info_li_img"><span>&nbsp;&nbsp;&nbsp;9/20</span></li>
                <li><img src="../../static/images/userPro.png" class="info_li_img"><span></span>&nbsp;&nbsp;&nbsp;내 진행률</span></li>
                <li><img src="../../static/images/eclipse.png" class="info_li_img"></li>
                <li class="cur_count">50</li>
                <li class="total_count">of 100</li>
            </ul>
        </div>

        <div class="progress_bar_border">
            <div class="fill">
                <span>75%</span>
            </div>
        </div>

        <div class="hashtag">
            <span>#호랑이</span>
        </div>

    </div>

    <div class="auth">
        <p>인증하기</p>
        <img src="../../static/images/인증사진.png" alt="">
    </div>
</div>

</body>
</html>