<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> GoalKeeper - 회원가입 페이지</title>
    <link rel="stylesheet" th:href="@{/css/member/join.css}">
    <link rel="stylesheet" th:href="@{/css/default.css}">
</head>
<body>
<div id="container">
    <nav id="header">
        <a href="#"><img th:src="@{/images/Header_Logo.png}" ></a>
    </nav>
    <div id="content">
        <div id="join_msg">
            <div><h1>GoalKeeper<br>회원가입</h1>
                <br><br>
                <h2>GoalKeeper 가입하고</h2>
                <h2>사람들과 미션을 완료해 보세요.</h2>
            </div>
        </div>
        <form action="/member/join" method="post">
            <div id="join_signup">
                <input type="text" class="addr_password" id="signup_addr" name="email" placeholder="이메일 주소"></input>
                <input type="text" class="addr_password" id="signup_nickname" name="nickname" placeholder="닉네임"></input>
                <input type="password" class="addr_password" id="signup_password" name="password" placeholder="비밀번호"></input>
                <!--                <input type="password" class="addr_password" id="signup_password_check" name="passwordCheck" placeholder="비밀번호 확인"></input>-->
                <button type="submit" id="signup_btn" style="color: white">회원가입</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>