<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoalKeepr - 로그인 페이지</title>
    <link rel="stylesheet" href="../../static/css/member/login.css">
    
</head>
<body>
    <div id="container">
        <nav id="header">
            <a href=""><img src="../../static/images/헤더 로고.png"></a>
        </nav>
        <div id="content">
            <div id="login_box">
                <div id="login_hello">
            <h1>로그인</h1>
            <h2>열정적인 골키퍼들과 함께 목표를 달성하세요!</h2>
        </div>
            <div id="input_box">
            <input type="text" class="addr_password" id="login_addr" placeholder="이메일 주소"></input>
            <input type="password" class="addr_password" id="password" placeholder="비밀번호"></input>
        </div>
            <button id="login_btn"><a style="color: white;" href="#">로그인</a></button>
            <h2>아직 GoalKeeper 회원이 아니신가요? <a href="#"><span id="signup_btn">회원가입</span></a></h2>
        </div>
        </div>
    </div>
</body>
</html>