body {
    background-color: #F1F1F1;
}

.like_img:hover {
    cursor: pointer;
}

#like {
    position: absolute;
    left: 78%;
    top: 12%;
}

#like > img {
    width: 45px;
    height: 40px;
}

.like_count {
    top: 7.5%;
    font-weight: 700;
}

#container {
    padding-top: 84px;
    width: 85%;
    margin: 0 auto;
}

.main {
    margin-top: 40px;
}
.auth_count {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    text-align: center;
    width: 165px;
    height: 35px;
    background-color: #FF5065;
    border-radius: 44px;
    margin: 0 auto;
}

.title, .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #444444;
    margin-top: 50px;
}

.content {
    margin-bottom: 2%;
}

#join_quit:hover {
    cursor: pointer;
}

#join, #quit {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFBB00;
    border-radius: 25px;
    width: 165px;
    height: 40px;
    color: #000000;
    margin-left: 10%;
}


.main_img {
    display: flex;
    margin-top: 1%;
}

.main_img > img {
    margin-left: 10%;
    width: 800px;
    height: 475px;
}

.main_img > ul {
    margin-top: 1%;
    margin-left: 50px;
}

.main_img > ul > li {
    align-items: center;
    display: flex;
    list-style: none;
    font-size: 15px;
    margin-bottom: 15%;
}

.main_img > ul > li > span {
    margin-top: 1%;
}

.cur_count {
    margin-left: 30%;
}

.total_count {
    font-size: 10px !important;
    color: #b1b6bc;
    margin-left: 27%;
}

.prev_next_btn:hover {
    cursor: pointer;
}

.progress_bar_border {
    border: 1px solid #FC79AE;
    width: 800px;
    border-radius: 20px;
    margin-left: 10%;
}

.progress_bar_border > .fill{
    display: flex;
    justify-content: end;
    margin: 2px 2px 2px 2px;
    background-color: #f485b1;
    width: 600px;
    border-radius: 20px;
    color: #F1F1F1;
    font-size: 10px;
}

.progress_bar_border > .fill > span {
    margin-top: 2px;
    margin-right: 10px;
}

.hashtag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 35px;
    border: 1px solid #000000;
    font-size: 20px;
    border-radius: 25px;
    margin-top: 1%;
    margin-left: 10%;
}

.hashtag > span {
    margin-top: 2%;
}

.prev_next_btn {
    position: relative;
}

.prev_btn {
    position: absolute;
    right: 88%;
}

.next_btn {
    position: absolute;
    left: 88%;
}

.auth_file {
    display: flex;
    flex-direction: column;
    margin-left: 75%;
}

.auth_btn {
    width: 165px;
    height: 40px;
    background-color: #FFBB00;
    border-radius: 25px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth_imgs {
    position: relative;
    bottom: 40px;
}
.auth_imgs > .prev_next_btn {
    position: relative;
    top: 100px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 3%;
}

.auth_img > img:hover {
    cursor: pointer;
}

.auth_img > img {
    position: relative;
    left: 16.5%;
}

.auth_img > .one, .two, .three{
    margin-top: 2%;
    width: 160px;
    height: 160px;
    margin-left: 7%;
}

#file {
    display: none;
}

.content {
    font-size: 20px;
}