#goalAddWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.shadowBox {
    box-shadow: 0 1px 1px rgba(0,0,0,0.25),
    0 2px 10px -3px rgba(0,0,0,0.25),
    0 4px 10px -3px rgba(0,0,0,0.25),
    0 10px 20px -3px rgba(0,0,0,0.25),
    0 8px 20px -3px rgba(0,0,0,0.25);
}

#goalAddBox {
    box-sizing: border-box;
    width: 1200px;
    height: 850px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
    padding: 20px 50px 50px 50px;
}

/* 헤더 ---------------------------------------- */
#goalAddHeader {
    width: 1100px;
    height: 80px;
    border-bottom: 1px solid rgb(176, 176, 176);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#goalAddHeaderText {
    font-size: 30px;
}

.flame {
    width: 50px;
    height: 50px;
}

/* 본문 ---------------------------------------- */
.goalInputWrapper {
    width: 1100px;
}

.goalAddContainer {
    width: 1100px;
     display: flex;
     align-items: center;
     margin-bottom: 20px;
}

.goalAddContainer > input {
    border: none;
    background-color: #D9D9D9;
}

.goalAddMenu {
    display: inline-block;
    font-size: 20px;
    width: 150px;
    height: 50px;
}

.goalMaxText {
    font-size: 15px;
    color: #444444;
}

.goalInputs {
    display: inline-block;
}

.goalGuide {
    font-size: 10px;
    color: rgba(70, 70, 70, 0.5);
    margin-top: 10px;
}

input {
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
}

div:has(input) {
    border-radius: 20px;
}

/* 미션명 ---------------------------------------- */

#goalTitleInput {
    box-sizing: border-box;
    width: 940px;
    padding: 15px;
    background-color: #D9D9D9;
    display: inline-block;
}

/* 인증횟수 ---------------------------------------- */

#times {
    display: inline-block;
    height: 100%;
}

#goalTimesInput > input {
    width: 115px;
}

#goalTimesInput {
    box-sizing: border-box;
    width: 150px;
    padding: 15px;
    background-color: #FF5065;
    display: inline-flex;
    align-items: center;
}

/* 미션 설명 ---------------------------------------- */

#goalDescriptionInput {
    box-sizing: border-box;
    padding: 15px;
    width: 940px;
    height: 100px;
    background-color: #D9D9D9;
}

/* 해시태그 ---------------------------------------- */

.goalTag {
    box-sizing: border-box;
    background-color: #D9D9D9;
    padding: 15px;
    width: 160px;
    height: 50px;
    margin-right: 10px;
}

.goalTag > input {
    width: 100px;
}

.goalHashTag {
    display: flex;
    align-items: center;
}

#goalHashTagInput {
    display: inline-block;
}

#tagPlusBtn {
    display: inline;
}

#tagPlusBtn > img {
    width: 40px;
    height: 40px;
}

/* 진행 기간 ---------------------------------------- */

.dateWrapper {
    box-sizing: border-box;
    background-color: #D9D9D9;
    padding: 15px;
    display: inline-block;
}

/* 모집 인원 ---------------------------------------- */

#goalPeopleInput {
    background-color: #D9D9D9;
    padding: 15px;
}

/* 첨부 이미지 ---------------------------------------- */

#imgWrapper {
    margin-left: 50px;
}

#goalImgWrapper {
    background-color: #D9D9D9;
    box-sizing: border-box;
    padding: 15px;
}

input[type=file]::file-selector-button {
    font-family: 'JalnanGothic';
    background: none;
    color: rgba(70, 70, 70, 0.5);
    border: 1px solid rgba(70, 70, 70, 0.5);
    border-radius: 20px;
    box-sizing: border-box;
    height: 30px;
    padding: 0 10px;
    margin-right: 10px;
}

/* 등록 버튼 ---------------------------------------- */
#goalAddBtn {
    width: 150px;
    height: 50px;
    background-color: #FFC933;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    display: block;
    margin-top: 40px;
}