*{
    margin: 0;
}
.body{
    position: relative;
}

.header{
    width: 100%;
    position: fixed;
    background-color: rgba(241, 241, 241, 0.8);
    /* background-color: yellow; */
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 16px;
    overflow: visible;
    z-index: 1500;
    flex-shrink: 0;
}

.header>.navlogo{
    margin: 0px 32px;
    background: url(../images/header/GoalKeeperLogo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 44px;
    flex-shrink: 0;
}

.header>.navtabs{
    background-color: transparent;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    height: 44px;
    flex-shrink: 0;
}

.header>.navtabs>.tab{
    background-color: transparent;
    margin: 4px 12px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: start;
    width: 120px;
    height: 30px;
    /* border: 1px solid red; */
    flex-shrink: 0;
}

/*클릭했을때*/

.header>.navtabs>.active>.penicon{
    background: url(../images/header/Penicon_pink.png) !important;
}
.header>.navtabs>.active>.fireicon{
    background: url(../images/header/Fireicon_pink.png) !important;
}
.header>.navtabs>.active>.gameicon{
    background: url(../images/header/Gameicon_pink.png) !important;
}
.header>.navtabs>.active>.penicon,
.header>.navtabs>.active>.fireicon,
.header>.navtabs>.active>.gameicon {
    width: 20px !important;
    height: 20px !important;
    margin: 8px !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

.active>p{
    color: #ff5065;
}

.header>.navtabs>.tab>.penicon{
    width: 20px;
    height: 20px;
    margin: 8px;
    background: url(../images/header/Penicon.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.header>.navtabs>.tab>.fireicon{
    width: 20px;
    height: 20px;
    margin: 8px;
    background: url(../images/header/Fireicon.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.header>.navtabs>.tab>.gameicon{
    width: 20px;
    height: 20px;
    margin: 8px;
    background: url(../images/header/Gameicon.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.header>.navtabs>.tab>p{
    font-size: 12px;
    background-color: transparent;
}

/*마우스 올렸을떄*/
.header>.navtabs>.tab1:hover .penicon{
    background: url(../images/header/Penicon_pink.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.header>.navtabs>.tab2:hover .fireicon{
    background: url(../images/header/Fireicon_pink.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.header>.navtabs>.tab3:hover .gameicon{
    background: url(../images/header/Gameicon_pink.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.header>.navtabs>.tab:hover p{
    color: #ff5065;
}


/* 위 오 아 왼 */
.header>.navprofile{
    position: relative;
    background-color: transparent;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin: 0px 60px 0px 92px;
    width: 140px;
    height: 44px;
    overflow: visible;
    /* border: 1px solid red; */
}

.header>.navprofile>.messagecom{
    display: flex;
    flex-flow: row;
    align-items: start;
    justify-content: space-between;
    background-color: transparent;
    position: relative;
    flex-shrink: 0;
}

.header>.navprofile>.messagecom:hover{
    cursor: pointer;
}

.header>.navprofile>.messagecom>.message{
    width: 24px;
    height: 24px;
    background: url(../images/header/Alarmicon.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.header>.navprofile>.messagecom>.message_open{
    width: 24px;
    height: 24px;
    background: url(../images/header/Alarmopen.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.messagebox {
    display: none;
}
.message_open .messagebox {
    display: block;
}

.header>.navprofile>.messagecom>.reddot{
    position: absolute;
    left: 24px;
    width: 4px;
    height: 4px;
    background: url(../images/header/reddoticon.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.header>.navprofile>.profile{
    margin-left: 28px;
    width: 36px;
    height: 36px;
    border-radius: 50px;
    flex-shrink: 0;
}

.header>.navprofile>.loginbtn{
    margin-left: 20px;
    margin-right: 35px;
    width: 64px;
    height: 28px;
    border-radius: 44px;
    border: 1px solid #000000;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    flex-shrink: 0;
}

.header>.navprofile>.loginbtn>p{
    background-color: transparent;
    font-size: 12px;
}

.header>.navprofile>.loginbtn:hover{
    cursor: pointer;
    border: 1px solid #ff5065;
}

.header>.navprofile>.loginbtn:hover>p{
    color: #ff5065;
}


.header>.navprofile>.dropdown{
    z-index: 2000;
    position: absolute;
    top: 50px;
    left: 42px;
    width: fit-content;
    padding: 16px;
    border-radius: 10px;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    box-shadow: 0 0 4px #AAAAAA;
    display: none;
}

.header>.navprofile>.dropdown>.drop{
    background-color: transparent;
    width: 80px;
    height: 30px;
    font-family: "Nanum Gothic";
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 26px;
}
.header>.navprofile>.dropdown>.drop:hover{
    cursor: pointer;
    background-color: #f1f1f1;
}

.header>.navprofile>.messagebox{
    position: absolute;
    top: 70px;
    left: 1150px;
    width: fit-content;
    padding: 12px;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    box-shadow: 0 0 4px #AAAAAA;
    display: none;
    z-index: 1000;
}

.header>.navprofile>.messagebox>.alarmElem{
    width: 200px;
    height: 40px;
    font-family: "Nanum Gothic";
    font-size: 12px;
    font-weight: 400;
    color: #464646;
    font-style: normal;
    text-align: center;
    line-height: 26px;
    background-color: transparent;
}

.header>.navlogo:hover{
    cursor: pointer;
}
.header>.navprofile>.loginbtn:hover{
    cursor: pointer;
}
.header>.navtabs>.tab:hover{
    cursor: pointer;
}

.header>.navprofile>.alarmcom:hover{
    cursor: pointer;
}

.header>.navprofile>.profile:hover{
    cursor: pointer;
}

.line{
    position: absolute;
    border-bottom: 1px solid #b0b0b0;
    /*height: 1px;*/
    width: 90%;
    bottom: -1px;
    transform: translateX(-50%);
    left: 49%;
}

.upbtn{
    position: fixed;
    right: 0px;
    bottom: 0px;
    margin: 28px;
    width: 56px;
    height: 56px;
    z-index: 1000;
}
.upbtn:hover{
    cursor: pointer;
}
